# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Базы данных
*.db
*.sqlite
*.sqlite3

# Env файлы
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Тесты
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

